@page
@using Extensions
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Displaying Values</h1>
<h3>Default <code>@@Html.DisplayFor()</code></h3>
@foreach (var person in Model.People)
{
    @Html.LabelFor(m => person.Name)
    @Html.Raw("&nbsp")
    @Html.DisplayFor(m => person.Name)<br>

    @Html.LabelFor(m => person.IsDeveloper)
    @Html.Raw("&nbsp")
    @Html.DisplayFor(m => person.IsDeveloper)<br><br>
}

<hr />
<h3>Custom Helper: <code>@@Html.YesNo()</code></h3>

@foreach (var person in Model.People)
{
    @Html.LabelFor(m => person.Name)
    @Html.Raw("&nbsp")
    @Html.DisplayFor(m => person.Name)<br>

    @Html.LabelFor(m => person.IsDeveloper)
    @Html.Raw("&nbsp")
    @Html.YesNo(person.IsDeveloper)<br><br>
}

<hr />
<h3>Custom Helper: <code>@@Html.YesNoColor()</code></h3>
@foreach (var person in Model.People)
{
    @Html.LabelFor(m => person.Name)
    @Html.Raw("&nbsp")
    @Html.DisplayFor(m => person.Name)<br>

    @Html.LabelFor(m => person.IsDeveloper)
    @Html.Raw("&nbsp")
    @Html.YesNoColor(person.IsDeveloper)<br><br>
}